:root{
    --primary-color: #4E045B;
    --white-color: #ffffff;
    --light-purple-color: #750D69;
    --light-pink-color: rgba(134, 91, 133, 0.44);
    --secondary-color: #a41c8b;
    --gap: 3rem;
   
}